:root {
    --white: #ffffff;
    --see-through-black: hsla(0, 0%, 0%, 0.75);
    --dark-blue: #073b4c;
    --gray: #d9d9d9;
    --red: #ef476f;
    --yellow: #ffd166;
    --background: #f5f0ef;
    --transparent: transparent;

    --title-font: "Montserrat";

    --font-size-xs: 18.66px;
    --font-size-xxs: 14px;

    --light-shadow: 0px 4px 6px -4px rgb(24, 39, 75, 0.12),
        0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    background-color: var(--background);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease all;
}

nav.active {
    opacity: 1;
    pointer-events: all;
    box-shadow: var(--light-shadow);
}

#home .navigation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo .circle {
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .name {
    color: var(--dark-blue);
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 600;
}

.open-menu {
    background-color: var(--dark-blue);
    height: 32px;
    width: 32px;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
}

nav .nav-links,
#home .nav-links {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: -600px;
    left: 0;
    background-color: var(--see-through-black);
    width: 100%;
    padding: 28px 80px;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: 0.3s ease all;
    z-index: 101;
}

.menu.active {
    top: 0;
}

.menu .close-menu {
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
}

.menu span {
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    color: var(--white);
}

.menu .name {
    position: relative;
    width: max-content;
    color: var(--white);
    margin: 40px 0;
}

.menu .name::before,
.menu .name::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: var(--yellow);
    position: absolute;
    top: 50%;
}

.menu .name::before {
    right: -120px;
}

.menu .name::after {
    left: -120px;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;
}

.nav-links a {
    position: relative;
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 700;
    color: var(--white);
    transition: 0.3s ease all;
}

.nav-links a:hover {
    color: var(--gray);
}

.nav-links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--red);
    position: absolute;
    left: 0;
    bottom: -8px;
    border-radius: 10px;
    transition: 0.2s ease all 0.2s;
}

.nav-links a.active::after {
    width: 25px;
}

.scroll-up {
    background-color: var(--dark-blue);
    position: fixed;
    right: 16px;
    bottom: -50%;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.3s ease all;
}

.scroll-up.menu.active {
    bottom: 48px;
}

@media (min-width: 768px) {
    nav {
        padding: 24px 80px;
    }

    nav .links a {
        font-size: var(--font-size-xs);
    }
}

@media (min-width: 1200px) {
    nav {
        padding: 24px 112px;
    }

    .menu,
    .open-menu {
        display: none;
    }

    nav .nav-links,
    #home .nav-links {
        display: flex;
        flex-direction: row;
        margin-right: 60px;
    }

    nav .nav-links a,
    #home .nav-links a {
        color: var(--dark-blue);
        font-size: var(--font-size-xs);
        font-weight: 600;
    }

    .nav-links a::after {
        height: 3px;
    }

    .nav-links a.active::after {
        width: 35%;
    }

    nav .nav-links a:hover,
    #home .nav-links a:hover {
        color: var(--dark-blue);
    }

    nav .nav-links a:last-child,
    #home .nav-links a:last-child {
        background-color: var(--dark-blue);
        color: var(--white);
        padding: 12px 32px;
        border-radius: 100px;
    }

    .nav-links a:last-child::after,
    #home .nav-links a:last-child::after {
        background-color: transparent;
    }
}
